header {
  height: 90vh;
  background-color: lightgray;
  background-image: url(https://images.unsplash.com/photo-1565123409695-7b5ef63a2efb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 95%;
}

.main {
  background-color: #ffffff;
  background-color: #ffffff;
  width: 350px;
  height: 350px;
  margin: 7em auto;
  border-radius: 20px;
}

.sign {
  padding-top: 30px;
  color: #c98986;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2.4rem;
}
.un {
  width: 76%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 1.3rem;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  font-family: Arial, Helvetica, sans-serif;
}

form.form1 {
  padding-top: 30px;
}
.pass {
  width: 76%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 1.3rem;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  font-family: Arial, Helvetica, sans-serif;
}

.submit {
  cursor: pointer;
  border-radius: 4em;
  color: #fff;
  background: black;
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 35%;
  font-size: 1.3rem;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.forgot {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #e1bee7;
  padding-top: 20px;
}

a {
  color: #c98986;
  text-decoration: none;
}
