* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
  /* border: 1px solid grey; */
}

#location-body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
#location-body main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.textLocation {
  background-image: url(https://static.vecteezy.com/system/resources/previews/000/153/588/original/vector-roadmap-location-map.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  text-transform: uppercase;
  font-size: 6rem;
  color: #c98986;
}
.stateContainer {
  display: flex;
  flex: 1;
}

.states {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-basis: 50%;
  background-color: black;
}
.states h2 {
  padding: 4%;
  text-transform: uppercase;
  color: #c98986;
  font-size: 3rem;
}
@media (max-width: 800px) {
  .states h2 {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .textLocation {
    font-size: 3rem;
    text-align: center;
  }
  h1 {
    text-align: center;
    padding: 15% 15%;
    font-size: 5rem;
    color: #c98986;
  }
  .states h2 {
    padding: 2%;
    font-size: 1.5rem;
  }
}
